.imgLogo{
    height: 50px;
    width: 120px;
}
a:hover{
   text-decoration: none;
    color: navy;
    font-weight: bold;
}
#slide-out li a:hover{
    color: navy;
    font-weight: bold;
}
.divCenter{
    margin: auto;
    width: 50%;
}
.modal-body .form-horizontal{
    width: 100%;
}

.mx-auto {
    color: #333;
}

.card-title {
    color: #333;
}

.fa-trash {
    color: rgb(255, 85, 85);
    font-size: 0.8rem;
}

.fa-edit {
    color: rgb(0, 170, 65);
    font-size: 0.8rem;
}

.recom-text {
    color: #333;
}

